

.admin_orderPage .order_container{
    
    overflow-y:scroll;
    max-height: 480px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 60px 20px 60px;

}
.admin_orderPage .order_container .orders{   
    justify-content: center;
    margin: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: whitesmoke;
    padding: 30px 20px 30px 20px;
    font-weight: 600;
}

.admin_orderPage .order_container .orders span{
    display: flex;
}
.admin_orderPage .order_container label{
    min-width: 80px;

}
.admin_orderPage .order_container .name{
    min-width: 120px;
    min-height: 30px;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    
}
.admin_orderPage .order_container .phone{
    min-width: 120px;
    min-height: 30px;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    
}
.admin_orderPage .order_container .address{
    min-width: 400px;
    min-height: 80px;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    
}
.admin_orderPage .order_container .orders .time{
    color: rgb(63, 62, 62);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top:10px;
    right: 10px;
}
.admin_orderPage .order_container .orders .btn-group{
    position:absolute;
    bottom: 37px;
    right: 10px;
    width: 150px;
    height: 40px;
    
}
.admin_orderPage .order_container .orders .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.admin_orderPage .order_container .orders .dropdown-menu .dropdown_list{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    width: 300px;
    height: 70px;
}
.admin_orderPage .order_container .orders .dropdown-menu .dropdown_list .product_name{
    width: 150px;
}
.admin_orderPage .order_container .orders .dropdown-menu .dropdown_list p{
    font-size: 15px;
}

.admin_orderPage .order_container .orders .amount{
    display: flex;
}
.admin_orderPage .order_container .orders .amount p{
    min-width: 120px;
    min-height: 30px;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.admin_orderPage .order_container .orders .btn_deliverd{
    margin: 10px;
}

@media only screen and (max-width: 767px){

}