.cart_page .cart_container{
    display: flex;
}
.cart_page .loader{
    /* position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999; */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cart_page .cartImg img{
  width: 100%;
  min-width: 100%;
}
.cart_page .cart_nav{
  top:o;
  width: 100%;
  position: fixed;
  z-index: 1000;
  
}


.cart_page .cart_greeting{
  padding: 40px 20px 40px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  width: 330px;
  position: absolute;
  top:150px;
  right:140px;
  line-height: 40px;
  border-left: 15px solid #3EC8AC;
  border-right: 15px solid #4E90A4;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  background-size: 100% 20px;
  background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
    
}
.cart_page .cart_greeting h1{
  font-weight: 800;
}
.cart_page .cart_greeting p{
  font-weight: 600;
    font-size: 20px;
}

.cart_page .cart_container .cart_details{
  margin: 60px 20px 30px 20px;
  min-width: 700px;
  min-height: 500px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.cart_page .cart_container .cart_details .empty{
  padding: 40px;
}
.cart_page .cart_container .cart_details .cart_card{
    
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    align-items: center;
    margin: 20px 10px;
}



.cart_page .cart_container .cart_details .cart_card img{
    width: 210px;
}

.cart_page .cart_container .cart_details .cart_card .cost_details {
    margin-left: 30px;
    margin-top: 10px;
}
.cart_page .cart_container .cart_details .cart_card .cost_details h2{
    font-size: 16px;
    font-weight: 700;
}
.cart_page .cart_container .cart_details .cart_card .cost_details h3{
    font-size: 15px;
    font-weight: 600;
}

.cart_page .cart_container .cart_details .cart_card .cost_details .drop_down select{
    
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    border-radius: 8px;
    padding: 3px 6px;
    width: 85px;
}

.cart_page .cart_container .cart_details .cart_card .cost_details  .delete_button{
  width: 70px;
  font-size: 10px;
  margin-top: -30px;
}

.cart_page .cart_container .cart_payment .payment_container{
    margin-top: 60px;
    padding: 20px;
    width: 450px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    

}
.cart_page .cart_container .cart_payment .payment_container .cart_main{
    text-align: right;
    
}


.cart_page .cart_container .cart_payment .payment_container .payment_card{
    display: flex;
    padding: 10px;   
}
.cart_page .cart_container .cart_payment .payment_container .payment_card .quantity{
  margin-left: 10px;
}
.cart_page .cart_container .cart_payment .payment_container .payment_card .productName{
  text-align: left;
  width: 150px;

}
.cart_page .cart_container .cart_payment .payment_container .payment_card p{
    text-align: right;
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
    
}

.cart_page .cart_container .cart_payment .payment_container .heading{
    font-size: 20px;
    font-weight: 700;
}


.cart_page .cart_container .cart_payment .payment_container .total p{
    padding: 20px;
    /* border: 1px solid black; */
    
    font-size: 20px;
    font-weight: 700;
}


.cart_page .cart_container .cart_payment .payment_container .total{
    display: flex;
    margin-left: 119px;
    
}

.cart_page .cart_container .cart_payment .payment_container .order_button{
    text-align: right;
    margin: 10px;
}

/* only animate if the device supports hover */
@media (hover: hover) {
    #creditcard {
      /*  set start position */
      transform: translateY(110px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    #money {
      /*  set start position */
      transform: translateY(180px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    .cart_page .cart_container .cart_payment .payment_container button:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
      /*  overide transition for mouse enter */
    }
  
    .cart_page .cart_container .cart_payment .payment_container button:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
      /*  overide transition for mouse enter */
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .cart_page .cart_container .cart_payment .payment_container .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
  }
  
  /* styling */
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  .cart_page .cart_container .cart_payment .payment_container body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart_page .cart_container .cart_payment .payment_container .button {
    border: none;
    outline: none;
    background-color: purple;
    padding: 1rem 90px 1rem 2rem;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.7px;
    background-color: #5086bd;
    color: #fff;
    font-size: 21px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  }
  
  .cart_page .cart_container .cart_payment .payment_container .button:active {
    transform: translateY(1px);
  }
  
  .cart_page .cart_container .cart_payment .payment_container .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 140%;
  }


  @media only screen and (max-width: 767px){
    .cart_page .cartImg img{
      width: 100%;
      height: 320px;
    }
    .cart_page .cart_container{
      display: block;
    }
    .cart_page .cart_greeting{
      display: none;
    }
    .cart_page .cart_container .cart_details{
      margin: 0px 0px 0px 0px;
      margin: 15px;
      min-width: 300px;
      min-height: 200px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .cart_page .cart_container .cart_details .empty{
        padding: 40px;
    }
    .cart_page .cart_container .cart_details .empty img{
      width: 50px;
    }
    .cart_page .cart_container .cart_details .cart_card{
      
      width: 100%;   
      height: 100%; 
      background-color: whitesmoke;
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      display: flex;
      align-items: center;
      margin: 10px 0px 10px 0px;
      
    }



    .cart_page .cart_container .cart_details .cart_card img{
      width: 150px;
    }

    .cart_page .cart_container .cart_details .cart_card .cost_details {
      margin-left: 20px;
      padding: 30px;
      
      /* border: 1px solid black; */
    }
    .cart_page .cart_container .cart_details .cart_card .cost_details h2{
      font-size: 15px;
      font-weight: 700;
    }
    .cart_page .cart_container .cart_details .cart_card .cost_details h3{
      font-size: 15px;
      font-weight: 700;
    }

    .cart_page .cart_container .cart_details .cart_card .cost_details .drop_down select{
      margin-top: 0px;
      box-shadow: 0 0 5px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
      border-radius: 3px;
      padding: 5px;
      width: 80px;
    }
 
    .cart_page .cart_container .cart_payment .payment_container{
      width: 100%;
      
    }
    .cart_page .cart_container .cart_payment .payment_container .payment_card{
      display: flex;
      padding: 5px;
      width: 100%;   
  }
  .cart_page .cart_container .cart_payment .payment_container .payment_card p{
      text-align: left;
      /* border: 1px solid black; */
      width: 50px;
      font-size:15px;
      font-weight: 600;
      margin-bottom: 0px;
      
  }
  
  .cart_page .cart_container .cart_payment .payment_container .heading{
      font-size: 15px;
      font-weight: 700;
  }
  
  
  .cart_page .cart_container .cart_payment .payment_container .total p{
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
  }
  
  
  .cart_page .cart_container .cart_payment .payment_container .total{
      display: flex;
      margin-left: 80px;
      
  }
  
  .cart_page .cart_container .cart_payment .payment_container .order_button{
      text-align: right;
      margin: 10px;
  }
}
  