.admin_navpage .navclr{
    background-color: rgb(31, 31, 95);
}
.admin_navpage .nav_page{
    margin: 0 !important;
    padding: 0 !important;
}
.admin_navpage  .navNonClored nav{
    background-color: transparent;
}
.admin_navpage  .navColored nav{
    background-color: #054458;
   
}
.admin_navpage  .nav_page .container-fluid .name{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.admin_navpage  .nav_page nav .container-fluid{
    margin: 0px 30px 0px 40px;
}
.admin_navpage  .nav_page nav .container-fluid .logo_name{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.admin_navpage  .nav_page nav .container-fluid img{
    width: 70px;
    margin-right: 10px;
}
.admin_navpage  .nav_page nav .container-fluid .navbar-collapse{
    margin-left: 400px;
}

.admin_navpage  .nav_page .navbar-nav ul{
    display: flex;
    list-style: none;
    color: white;
}
.admin_navpage  .nav_page .navbar-nav ul li .links{
    text-decoration: none;
    color: white;
}

.admin_navpage .nav_page .navbar-nav ul li {
    min-width: 80px;
    font-weight: 700;
    text-align: center;
    margin-left: 40px;   
}

.admin_navpage  .nav_page .navbar-nav ul li .links:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
    
}

@media only screen and (max-width: 767px) {
    .admin_navpage .nav_page nav{
        /* border: 1px solid black; */
        padding: 10px;
        margin: 0px;
        width: 100%;
    }
    .admin_navpage .nav_page nav .container-fluid{
        margin: 0px 10px 0px 10px;
        align-items: center;
       /* border: 1px solid black; */
       width: 100%;
    }
    .admin_navpage .nav_page .container-fluid .name{
        margin-left: -10px;
    }
    .admin_navpage .nav_page .navbar-nav ul{
        display: block;
        list-style: none;
    }
    .admin_navpage .nav_page nav .container-fluid .navbar-collapse{
        margin-left: -60px;
    }
    .admin_navpage .nav_page .navbar-nav ul{
        margin-bottom: 30px;
    }
    .admin_navpage .nav_page .navbar-nav ul li{
        margin-top: 20px;
        padding-left: 25px;
        text-align: left;
    }
    
}