.about_page .about_nav{
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.about_page .about_container .aboutImg img{
    width: 100%;   
    opacity: 1; 
}
.about_container{
    position: relative;
}
.about_container .about_greeting{
    /* opacity: 2;
    color: white;
    text-align: center;
    width: 800px;
    position: absolute;
    top:220px;
    right: 220px;
    line-height: 40px;
    border: 1px solid white;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.3); */
    padding: 40px 20px 40px 20px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 330px;
    position: absolute;
    top:150px;
    right: 150px;
    line-height: 40px;
    border-left: 15px solid #3EC8AC;
    border-right: 15px solid #4E90A4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    background-size: 100% 20px;
    background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
}
.about_container .about_greeting h1{
    font-weight: 800;
}
.about_container .about_greeting p{
    font-weight: 600;
    font-size: 20px;
}
.about_container .about_content{
    margin: 80px 80px;
    padding: 20px;
}

.about_container .about_content .content_one img{
    width: 370px;
    margin-right: 100px;
    filter: drop-shadow(0 0 0.35rem black);
}
.about_container .about_content .content_one{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 100px;
}
.about_container .about_content .content_one .detail{
    width: 370px;
    line-height: 30px;
    margin-right: 100px;
}
.about_container .about_content .content_one .detail h2{
    font-size: 25px;
    font-weight: 700;
}
.about_container .about_content .content_one .detail p{
    font-weight: 600;
    color: rgb(109, 108, 108);
    margin-top: 30px;
}

@media only screen and (max-width: 767px){
    .about_page .about_container .aboutImg img{
       width: 100%;
       height: 320px;
    }
    .about_page .about_container{
        text-align: center;
    }
    
    .about_container .about_greeting{
        opacity: 1;
        color: black;
        text-align: center;
        width:unset;
        position: unset;
        top:0px;
        right: 0px;
        line-height: 23px;
        border: 1px solid white;
        padding: 0px 0px;
        margin: 20px 20px 20px 20px;
        backdrop-filter:unset;
        background-image: none;
        background:none;

       
        /* border: 1px solid black; */
    }
    .about_container .about_greeting h1{
        font-weight: 800;
    }
    .about_container .about_greeting p{
        text-align: justify;
        font-weight:400px;
        color: rgb(109, 108, 108);
        font-size: 16px;
    }
    .about_container .about_greeting .scroll{
        display: none;
    }

    .about_container .about_content{
        width: 100%;
        padding: 0px;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
    }
    .about_container .about_content .content_one img{
        width: 320px;
        margin-right: 0px;
        margin: 10px 30px 40px 30px;
        filter: drop-shadow(0 0 0.55rem black);
    }
    .about_container .about_content .content_one{
        display: block;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align:justify;
        
    }
    .about_container .about_content .content_one .detail{
        width: 100%;
        line-height: 25px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding: 10px 30px 10px 30px;

    }
    .about_container .about_content .content_one .detail h2{
        font-size: 20px;
        font-weight: 700;
    }
    .about_container .about_content .content_one .detail p{
        font-weight:400px;
        color: rgb(109, 108, 108);
        font-size: 16px;
        margin-top: 20px;
        margin-left: 0px;
    }
    
}