.footer_page{
    background-color: #054458;
    padding: 10px;
    text-align: center;
}
.footer_page p{
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

@media only screen and (max-width: 600px){
    .footer_page{
        width: 500px;
    }
}