
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login_page {
	box-sizing: border-box;
}

.login_page {
	background: #f6f5f7;
	padding: 30px;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.login_page .container {
	background-color: #fff;
    display: flex;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	width: 810px;
	
}

.login_page .form-container{	
	width: 400px;
	height: 500px;
}



.login_page h1 {
	font-weight: bold;
    font-size: 30px;
    margin-bottom: 24px;
}

.login_page h2 {
	text-align: center;
}

.login_page p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.login_page span {
	font-size: 10px;
}

.login_page a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.login_page .container button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login_page button:active {
	transform: scale(0.95);
}

.login_page button:focus {
	outline: none;
}

.login_page button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.login_page form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.login_page .form-container input {
	background-color: #eee;
	border: none;
	padding: 20px 15px;
	margin: 5px 0;
    height: 60px;
	width: 300px;
    margin-bottom: 20px;
}


.login_page .overlay {
    border-radius: 10px;
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	height: 500px;
	width: 400PX ;
 
}

/* .container.right-panel-active .overlay {
  	transform: translateX(50%);
} */

.login_page .overlay-panel {
	align-items: center;
	justify-content: center;
	padding: 160px 40px;
	text-align: center;
	height: 100%;
	width: 100%;
}



/* .overlay-right {
	right: 0;
	transform: translateX(0);
} */

/* .container.right-panel-active .overlay-right {
	transform: translateX(20%);
} */

@media only screen and (max-width: 600px) {
	
	.login_page .container {
        display: block;
		width: 320px;
		padding: 10px;	
		margin: 10px;
    }
	.login_page form {
		/* background-color: #801818;	 */
		
	}
    .login_page .form-container{
        width: 300px;
		height: 450px;
		
    }
    .login_page .overlay{
		width: 300px;
		height: 400px;	
    }
	.login_page .overlay-panel{
		padding-top: 100px;
	}
    .login_page .form-container input{
        width: 280px;
        height: 40px;
    }
}

