
.slider_page .slider_container .carousel .slides{
    display: flex;
}
/* .slider_page .slider_container .carousel .slides .slide1_detail{
    position: absolute;
    padding: 10px;
    top:200px;
    right: 330px;
    border: 5px solid white; 
    width: 600px;
} 
.slider_page .slider_container .carousel .slides .slide1_detail h1{
    font-size: 100px;
    font-weight: 900;
    color: red;
}
.slider_page .slider_container .carousel .slides .slide1_detail p{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.slider_page .slider_container .carousel .slides .slide2_detail{
    position: absolute;
    opacity: 1.5;
    padding: 20px;
    top:30px;
    right: 100px;
    border: 5px solid white;
    width: 400px;
    align-items: center;
}
.slider_page .slider_container .carousel .slides .slide2_detail h1{
    font-size: 60px;
    font-weight: 900;
    color: red;
}
.slider_page .slider_container .carousel .slides .slide2_detail p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}  */



@media only screen and (max-width: 767px) {

    .slider_page .slider_container .carousel img{
        width: 100%;
        height: 320px;
    }
    
    .slider_page .slider_container .carousel .slides .slide1_detail, .slide2_detail{
        display: none;
    }
}



